.about .about-content h2 {
  text-align: center;
}
.about .about-content h3 {
  text-align: center;
  margin: 2rem 0;
}

.experience ul {
  list-style-type: none;
}
.experience .innner-ul {
  list-style-type: none;
}