@import url("https://fonts.googleapis.com/css2?family=Sono:wght@400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
}

a {
  color: rgb(0, 0, 0);
}
a:hover {
  color: rgb(134, 0, 134);
}
a:active {
  color: rgba(255, 0, 0, 0.897);
}

#grid {
  float: left;
  width: 100%;
}
#grid > div {
  float: left;
  background: rgb(218, 0, 0);
  margin-right: 2%;
  margin-bottom: 2%;
  height: 150px;
  width: 23.5%;
}
#grid > div:nth-child(4n) {
  margin-right: 0;
}

.block:not(.first) {
  background: rgba(252, 56, 252, 0.667);
  height: 200px;
  width: 300px;
  margin-bottom: 20px;
}

#central-block {
  padding: 30px;
  font-size: 1.1em;
  font-weight: bold;
  font-family: "Sono", Arial, Helvetica, sans-serif;
  color: white;
}
#central-block ul {
  list-style: none;
  display: inline-block;
  width: 100%;
}
#central-block ul li {
  float: left;
  width: 25%;
}
#central-block ul a {
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.first {
  background: rgba(252, 56, 252, 0.667);
  height: 100px;
  width: 300px;
  margin-bottom: 20px;
}