@mixin grid($cols, $margin) {
    float: left;
    background: rgb(218, 0, 0);
    margin-right: $margin;
    margin-bottom: $margin;
    height: 150px;
    width: ((100% - (($cols - 1) * $margin)) / $cols);
    &:nth-child(#{$cols}n) {
        margin-right: 0;
    }
}

@mixin linkStyle($link, $hover, $active, $visited) {
    a {
        color: $link;

        &:hover {
            color: $hover;
        }
        &:active {
            color: $active;
        }
        // &:visited {
        //     color: $visited;
        // }
    }
}

@mixin font($color, $fz) {
    font-size: $fz;
    font-weight: bold;
    font-family: 'Sono', Arial, Helvetica, sans-serif;
    color: $color;
}