$bgcolor: #1f242d;
$bgcolor2: #323946;
$colortext: #fff;
$maincolor: #0ef;
$linkColor: rgb(0, 0, 0);
$blockWidth: 300px;
$fontSize: 1.1em;
$someClass: some_class;
$mainSize: 2rem;
$mainSizeSmall: 1.6rem;
$H1: 5rem;
$mainSizeH3: 2.6rem;